<div class="container">
  <h2>Create Surveys, Get Answers</h2>
  <form action="/signup" method="post">
    <input type="text" name="name" placeholder="Username" />
    <input type="password" name="password" placeholder="Password" />
    <input type="submit" value="Create Account" class="btn" />
  </form>

</div>