<div class="container2" ng-app="textinput" ng-controller="MyController">
  <script>
  angular.module('textinput', [])
    .controller('MyController', ['$scope', function($scope) {
      $scope.coolAngular = {
        text: '',
        word:'hey'
      };
    }]);
  </script>

  <h2 class="header"> {{'Creating ' + coolAngular.text+'...'}} </h2>
  <a href="#" class="create_question"> Add question </a>
  <a href="#" class="remove_question" style="display:none"> Remove question </a>

  <form action='/surveys/create' method='post' class="form">
    <br><br>
    <input type="text" name="title"
    ng-model="coolAngular.text" placeholder="Survey Title"/>
    <br><br>
    <div class="inputs">
      <div class="input_container">
        <span class="input"><input type="text" name="questions[question1[title]]" placeholder="question" /></span>
        <span class="input"><input type="text" name="questions[question1[choice1]]" placeholder="choice" class="choice"/></span>
        <span class="input"><input type="text" name="questions[question1[choice2]]" placeholder="choice" class="choice"/></span>
        <span class="input"><input type="text" name="questions[question1[choice3]]" placeholder="choice" class="choice"/></span>
        <br><br>
      </div>
    </div>
    <br><br>
    <input type="submit" value="Create" class="btn">
  </form>

</div>

