<div class="container">
  <h2>Create Surveys, Get Answers</h2>
  <form action="/signin" method="post">
    <input type="text" name="name" placeholder="Username" />
    <input type="password" name="password" placeholder="Password" />
    <input type="submit" value="Login" class="btn"/>
  </form>

  <p>Don't have an account? Click <a href="/signup" class="signup">here</a></p>

  <% if session[:message] %>
    <div class='message'>
      <%= session[:message] %>
      <% session[:message] = nil %>
    </div>
  <% end %>

</div>